#class2{
background-color: blue;
border:5x solid yellow ;
border-radius: 25px;
width: 500;
}

#class1{
background-color:rgb(196, 24, 24);
border: 5px solid rgb(7, 56, 218);
border-radius: 15px;
width: 500px;
}





