body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
.search-box {
    display: flex;
}
.search-box input {
    padding: 5px;
    font-size: 16px;
}
.container {
    padding: 20px;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .search-box {
        margin-top: 10px;
    }
    nav a {
        display: block;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}



 
